<h1> Modifier votre raclette </h1>

<%= simple_form_for [@raclette, @booking] do |f| %>

  <%= f.input :date %>
  <%= f.input :description %>
  <%= f.input :status, collection: ["available", "confirmed", "declined"] %>
  <%= f.submit %>
<% end %>
