<h1> Modifier votre raclette </h1>
<%= render "bookings/form", booking: @booking, raclette: @raclette  %>
<%# <%= simple_form_for [@raclette, @booking] do |f| %>
<%#
  <%= f.input :date %>
  <%# <%= f.input :description %> 
  <%# <%= f.input :status, collection: ["confirmed", "declined"] %>
  <%# <%= f.submit %>
<%# <% end %>
