<div class="supercontainer d-flex">
  <div class="sidebar w-25 vh-100">
  </div>
  <div class="container">
    <div class="dashboard-options-container">
      <div id="dashboard_raclettes">
        <h2>My Raclettes</h2>
        <% unless current_user.raclettes.empty? %>
          <% current_user.raclettes.each do |raclette| %>
          <div class="dashboard-raclette-card card-product">
            <%= cl_image_tag raclette.photo.key %>
            <%= raclette.title %>
            <%= raclette.location %>
            <%= raclette.description %>
            <%= raclette.number_of_guests %>
            <% if raclette.bookings.all? {|booking| booking.status = "accepted"} %>
              Confirmed
            <% else %>
              Pending
            <% end %>
          </div>
            <% unless raclette.bookings.empty? %>
            <h2>My pending requests</h2>
              <% raclette.bookings.each do |booking| %>
                <div class="dashboard-request-card card-product">
                  <%= cl_image_tag booking.user.avatar.key %><%= booking.user.first_name %> <%= booking.user.last_name %>
                  <%= booking.date %>
                  <%= booking.description %>
                  <%= booking.status %>
                  <%= link_to "Accept", accepted_booking_path(booking), data: {turbo_method: :patch} %>
                  <%= link_to "Decline", declined_booking_path(booking), data: {turbo_method: :patch} %>
                </div>
              <% end %>
            <% else %>

            <% end %>
          <% end %>
        <% else %>
          <p>You don't have any raclettes yet</p>
        <% end %>
      </div>
      <div id="dashboard_bookings">
      </div>
      <div id="dashboard_profile">
      </div>
    </div>
  </div>
</div>

<p>

My raclettes and users requests
  - Si j'ai récrée au moins une raclette // unless current_user.raclettes.empty?
    - As a current_user.raclettes.each, je peux voir toutes les raclettes que j'ai créé
      - Pour chaque raclette, //unless raclette.bookings.empty?
        - je veux voir raclette.bookings.each do |booking|
          - booking.user.first_name
          - booking.user.last_name
          - booking.user.avatar
          - booking.title
          - booking.description
          - booking.date
          --> Peut-être dans une modal pour gaspard (peut-êeeeetre)
        - Je veux accepter ou refuser le booking
          - simple form edit sur booking x2
        - Une fois le choix fait, le form disparait et la div change de couleur


















        My bookings =
- current_user.bookings.each |booking|
  if booking.date > Date.today
    if booking.status == "pending"
      - div pending booking
        - booking.status
        - booking.title
        - booking.date
        - booking.user
        - booking.raclette.title
        - booking.raclette.photo
      - div accepted booking
      - div declined booking
  else
    div booking accepted && passés
      - Ajouter un form pour review this booking en modal
  end
My infos
  - show + edit
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.string "first_name"
    t.string "last_name"
    t.text "description"
    t.string "phone_number"
    t.string "avatar"
Réduire


</p>
