<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.manigod.com/medias/images/prestataires/raclette-party-13162.jpg);">
  <div class="container">
  <h1>Find the hottest raclettes in your region</h1>
  </div>
</div>
<div class="container d-flex mt-5">
  <div class="half-container">
  <% @raclettes.each do |raclette| %>
    <%= link_to raclette_path(raclette) do%>
      <div class="card-product" data-raclette-id="<%= raclette.id %>">
        <img src="<%= raclette.photo %>"/>
        <div class="card-product-infos">
          <h2><%= raclette.title %></h2>
          <p><%= raclette.description  %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <div class="half-container map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
