<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.manigod.com/medias/images/prestataires/raclette-party-13162.jpg);">
  <div class="container">
  <h1>Find the hottest raclettes in your region</h1>
  </div>
</div>
<div class="container d-flex mt-5">
  <div class="half-container">
    <div class="cards-grid-index" >
      <% @raclettes.each do |raclette| %>
        <%= link_to raclette_path(raclette) do%>
          <div class= card-grid-index>
            <%= image_tag raclette.photo %>
            <h2><%= raclette.title %></h2>
            <p><i class="fa-solid fa-location-pin"></i> <%= raclette.location %></p>
            <p><i class="fa-solid fa-person"></i> <i class="fa-solid fa-person-dress"></i> <%= raclette.number_of_guests %> persons allowed</p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="half-container">
      <div class="map">
      </div>
    </div>
  </div>
</div>
