<div class="container">
  <h1>Raclette <%= @raclette.location %></h1>
  <div class= "img-large" >
    <img src="https://images.unsplash.com/photo-1635924210828-ccbe493b6e1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
  </div>
  <p>Select a date to book </p>
  <div class="form form-group">
    <%= simple_form_for [@raclette, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <% if policy(@raclette).destroy? %>
    <%= link_to "Delete",
    raclette_path(@raclette),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
