<div class="container d-flex flex-wrap">
  <div class="raclette-infos">
    <div class="raclette-infos-title">
    <h1><%= @raclette.title %></h1>
    </div>
    <div class="raclette-infos-subtitle">
      <p> hosted by <%= @raclette.user.first_name %> <%= @raclette.user.last_name %>
      <i class="fa-solid fa-location-pin"></i> <%= @raclette.location %></p>
      <!--  ********** UNLESS TEST IF EMPTY REVIEWS  **********  -->
      <% unless @raclette.reviews.empty? %>
        <p><i class="fa-solid fa-star"></i>
        <% sum = 0  %>
        <% @raclette.reviews.each do |review| %>
          <% sum += review.rating %>
          <% end %>
        <% sum /= @raclette.reviews.all.count %>
        <%= sum.truncate(2) %> • <button class="modal-button" data-bs-toggle="modal" data-bs-target="#reviewsModal"><%= @raclette.reviews.all.count %> comments</button>
        <!--  **********  MODAL REVIEW  **********  -->
        <div class="modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="reviewsModalLabel"><%= @raclette.title %>'s reviews</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% @raclette.reviews.each do |review| %>
                  <div class="review-box">
                    <i class="fa-solid fa-star"></i> <%= review.rating %> from <%= review.user.first_name %>
                    <br>
                    <%= review.description %>
                    <br>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!--  ********** END OF MODAL REVIEW  **********  -->
        </p>
      <% end %> <!--  ********** END OF UNLESS STATEMENT  **********  -->
    </div>
  </div>
  <%# <div class="raclette-images"> %>
    <div class="raclette-images-picture me-3">
      <% if @raclette.photo.attached? %>
      <%= cl_image_tag @raclette.photo.key %>
    <% end %>
    <div class="raclette-content">
    <div class="raclette-content-description">
      <div class="description">
        <h5>What's to expect?</h5>
        <p><%= @raclette.description %></p>
      </div>
      <div class="description">
      <h5>How many guests are expected?</h5>
      <p><%= @raclette.number_of_guests %></p>
      </div>
      <div class="description">
        <h5>Types of cheese</h5>
        <ul>
          <li>Morbier</li>
          <li>Raclette au piment d'espelette</li>
          <li>Raclette au lait cru</li>
          <li>Raclette au 3 poivres</li>
        </ul>
      </div>
      <div class="description">
        <h5>meat & alternatives</h5>
          <ul>
            <li>jambon blanc</li>
            <li>Jambon cru</li>
            <li>Rosette</li>
            <li>grison</li>
            <li>carottes</li>
            <li>salade</li>
          </ul>
      </div>
      <div>
      </div>

    </div>
    <%# <div class="raclette-content-booking">
      <h3 class="text-center">Book this raclette!</h3>
       <%= render "bookings/form", booking: @booking, raclette: @raclette  %>
    <%# </div> %>
  </div>
    </div>
    <%# <div class="raclette-images-map"></div> %>
  <%# </div> %>
  <div class="raclette-content-booking">
    <h3 class="text-center">Book this raclette!</h3>
    <%= render "bookings/form", booking: @booking, raclette: @raclette  %>
  </div>

</div>
