<div class="container">
  <div class="raclette-infos">
    <div class="raclette-infos-title">
    <h1><%= @raclette.title %></h1>
    </div>
    <div class="raclette-infos-subtitle">
      <p><i class="fa-solid fa-location-pin"></i> <%= @raclette.location %></p>
      <!--  ********** UNLESS TEST IF EMPTY REVIEWS  **********  -->
      <% unless @raclette.reviews.empty? %>
        <p><i class="fa-solid fa-star"></i>
        <% sum = 0  %>
        <% @raclette.reviews.each do |review| %>
          <% sum += review.rating %>
          <% end %>
        <% sum /= @raclette.reviews.all.count %>
        <%= sum.truncate(2) %> • <button class="modal-button" data-bs-toggle="modal" data-bs-target="#reviewsModal"><%= @raclette.reviews.all.count %> comments</button>
        <!--  **********  MODAL REVIEW  **********  -->
        <div class="modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="reviewsModalLabel"><%= @raclette.title %>'s reviews</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% @raclette.reviews.each do |review| %>
                  <div class="review-box">
                    <i class="fa-solid fa-star"></i> <%= review.rating %> from <%= review.user.first_name %>
                    <br>
                    <%= review.description %>
                    <br>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!--  ********** END OF MODAL REVIEW  **********  -->
        </p>
      <% end %> <!--  ********** END OF UNLESS STATEMENT  **********  -->
    </div>
  </div>
  <div class="raclette-images">
    <div class="raclette-images-picture">
      <% if @raclette.photo.attached? %>
      <%= cl_image_tag @raclette.photo.key %>
    <% end %>
    </div>
    <div class="raclette-images-map">
      <% if @raclette.photo.attached? %>
      <%= cl_image_tag @raclette.photo.key %>
    <% end %>
    </div>
  </div>
  <div class="raclette-content">
    <div class="raclette-content-description">
      <p><span class="underline">What's to expect?</span><br><%= @raclette.description %></p>
      <p><span class="underline">How many guests are expected?</span><br><%= @raclette.number_of_guests %></p>
    </div>
    <div class="raclette-content-booking">
       <%= render "bookings/form", booking: @booking, raclette: @raclette  %>
    </div>
  </div>

  <%# <% if current_user == review.user %>
    <%# <%= link_to 'Edit my review', edit_booking_review_path(booking, review) %>
  <%# <% end %>

   <%# <% if current_user == @raclette.user %>
    <%# <%= link_to "Edit", edit_raclette_path, class: "btn btn-info" %>
  <%# <% end %>
</div>
