<div class="container">
  <div class="raclette-infos">
    <div class="raclette-infos-title">
    <h1><%= @raclette.title %></h1>
    </div>
    <div class="raclette-infos-subtitle">
      <p><i class="fa-solid fa-location-pin"></i> <%= @raclette.location %></p>
      <p><i class="fa-solid fa-star"></i>4.2</p>
    </div>
  </div>
  <div class="raclette-images">
    <div class="raclette-images-picture">
      <%= image_tag @raclette.photo %>
    </div>
    <div class="raclette-images-map">
      <%= image_tag @raclette.photo %>
    </div>
  </div>
  <div class="raclette-content">
    <div class="raclette-content-description">
      <p><span class="underline">What's to expect?</span><br><%= @raclette.description %></p>
      <p><span class="underline">How many guests are expected?</span><br><%= @raclette.number_of_guests %></p>
    </div>
    <div class="raclette-content-booking">
      <%= simple_form_for [@raclette, @booking] do |f| %>
        <%= f.input :date %>
        <%= f.input :description %>
        <div>
          <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
