<div class="container">
  <div class="raclette-infos">
    <div class="raclette-infos-title">
    <h1><%= @raclette.title %></h1>
    </div>
    <div class="raclette-infos-subtitle">
      <p><i class="fa-solid fa-location-pin"></i> <%= @raclette.location %></p>
      <p><i class="fa-solid fa-star"></i>4.2</p>
    </div>
  </div>
  <div class="raclette-images">
    <div class="raclette-images-picture">
      <% if @raclette.photo.attached? %>
      <%= cl_image_tag @raclette.photo.key %>
    <% end %>
    </div>
    <div class="raclette-images-map">
      <% if @raclette.photo.attached? %>
      <%= cl_image_tag @raclette.photo.key %>
    <% end %>
    </div>
  </div>
  <div class="raclette-content">
    <div class="raclette-content-description">
      <p><span class="underline">What's to expect?</span><br><%= @raclette.description %></p>
      <p><span class="underline">How many guests are expected?</span><br><%= @raclette.number_of_guests %></p>
    </div>
    <div class="raclette-content-booking">
       <%= render "bookings/form", booking: @booking, raclette: @raclette  %>
    </div>
  </div>

  <%# <% if current_user == review.user %>
    <%# <%= link_to 'Edit my review', edit_booking_review_path(booking, review) %>
  <%# <% end %>

   <%# <% if current_user == @raclette.user %>
    <%# <%= link_to "Edit", edit_raclette_path, class: "btn btn-info" %>
  <%# <% end %>
</div>
