<div class="container">
  <h1>Edit <%= @booking.description %></h1>

<%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :rating %>
    <%= f.submit %>
<% end %>
</div>
